.openPage {
  display: flex;
  .indexPicture {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    width: 200px;
    height: 355px;
    background-size: 100% 100%;
    position: relative;
    img {
      margin-top: 20px;
    }
  }
}
.icon {
  color: #fff !important;
  font-size: 25px;
  background: #000;
  padding: 5px;
}
.options {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.bannerArea {
  display: flex;
  flex-wrap:wrap;
  margin-top: 10px;

}
.bannerPic {
  width: 340px;
  height: 180px;
  background-size: 100% 100%;
  position: relative;
}
.uploadArea {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 340px;
  height: 340px;
  background:rgba(238,238,238,1);
  margin-bottom: 20px;
}
.modelArea {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}