.openPage {
  display: flex;
}
.icon {
  color: #fff !important;
  font-size: 25px;
  background: #000;
  padding: 5px;
}
.options {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.bannerArea {
  display: flex;
  flex-wrap:wrap;
  margin-top: 10px;

}
.bannerPic {
  width: 340px;
  height: 180px;
  background-size: 100% 100%;
  position: relative;
}